TUSHARE_TOKEN=replace_with_your_tushare_token
BAOSTOCK_USER_ID=optional_baostock_user_id
BAOSTOCK_PASSWORD=optional_baostock_password
QMT_L1_AUTO=0
NOTIFY_CHANNELS=feishu
FEISHU_WEBHOOK_URL=https://open.feishu.cn/open-apis/bot/v2/hook/replace_with_your_webhook_key
FEISHU_SECRET=optional_feishu_sign_secret
